button {
  background-color: var(--color-primary);
  border: solid 1px var(--color-primary);
  color: var(--color-button-text);
  font-family: var(--font-family);
  font-size: var(--text-font-size);
  font-weight: var(--button-font-weight);
  padding: 12px;
  white-space: nowrap;
  border-radius: var(--input-button-radius);
  cursor: pointer;
}
