.access-page-wrapper {
  display: flex;
  gap: 32px;
  padding: 16px;
  height: 100%;
  justify-content: space-around;
}

.access-form-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.form-image-wrapper {
  height: 100%;
  width: 486px;
  display: flex;
  justify-content: space-between;
  border-radius: var(--surface-border-radius);
  overflow: hidden;
  background-image: var(--form-image);
  background-position: center;
}
