input {
  min-width: 240px;
  width: 100%;
  padding: 12px 16px;
  border: solid 1px var(--color-input-border);
  border-radius: var(--input-border-radius);

  color: var(--color-text);
  font-family: var(--font-family);
  font-size: var(--text-font-size);
  font-weight: var(--text-font-weight);
}

input:placeholder-shown {
  color: var(--color-input-border);
}
