@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Rufina:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2 {
  font-family: 'Inter';
}

h1 {
  font-size: 48px;
  line-height: 56px;
  font-weight: 700;
  color: #101828;
}

h2 {
  font-size: 24px;
  line-height: 28px;
  font-weight: 400;
  color: #101828;
}

.app-wrapper {
  height: 100vh;
  width: 100%;
  padding: 16px 0;
}

.page {
  margin: 0 auto;
  max-width: 1320px;
  max-height: 100%;
}
