@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Rufina:wght@400;700&display=swap');
@import url('./themes/index.theme.css');

:root{
  /* Typografy */
  --font-family: 'Inter';
  --title-font-weight: 700;
  --title-font-size: 48px;
  --title-line-height: 56px;
  
  --subtitle-font-weight: 400;
  --subtitle-font-size: 24px;
  --subtitle-line-height: 28px;

  --text-font-weight: 400;
  --text-font-size: 16px;

  --button-font-weight: 500;

  /* colors */
  --color-primary: #171717;

  --color-background: #ffffff;

  --color-title: #101828;
  --color-sub-title: #101828;
  --color-text: #101828;

  --color-button-text: #ffffff;

  --color-input-border: #D0D5DD;
  --color-input-background: transparent;
  

  /* radius */
  --surface-border-radius: 0px;
  --input-border-radius: 0px;
  --input-button-radius: 0px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2 {
  font-family: var(--font-family);
}

h1 {
  font-size: var(--title-font-size);
  line-height: var(--title-line-height);
  font-weight: var(--title-font-weight);
  color: var(--color-title);
}

h2 {
  font-size: var(--subtitle-font-size);
  line-height: var(--subtitle-line-height);
  font-weight: var(--subtitle-font-weight);
  color: var(--color-subtitle);
}

.page {
  margin: 0 auto;
  max-width: 1320px;
  max-height: 100%;
}
